<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ì±„íŒ… ì„œë¹„ìŠ¤</title>
</head>

<body>
  <input type="text" id="msg" />
  <a href="javascript:void(0);" onclick="send()">ì „ì†¡</a>
  <ol id="chat"></ol>
</body>
<script>
  // ì›¹ì†Œì¼“ ì „ì—­ ê°ì²´ ìƒì„±, 7777 ì€ WebSocketì´ ì ë ¹í•œë‹¤~~
  let ws = new WebSocket("ws://localhost:7777");

  const inputEl = document.getElementById('msg');
  const chat = document.getElementById('chat');

  function send() {
    const message = inputEl.value;
    ws.send(message);
    inputEl.value = '';
  }

  ws.onmessage = (event) => {
    const msgEl = document.createElement('li')
    console.log(event.data);
    msgEl.innerHTML = event.data.toString();
    chat.appendChild(msgEl)
  }

  //   // ì—°ê²°ì´ ìˆ˜ë¦½ë˜ë©´ ì„œë²„ì— ë©”ì‹œì§€ë¥¼ ì „ì†¡í•œë‹¤
  //   ws.onopen = (event) => {
  //     ws.send("ì €ëŠ” í´ë¼ì´ì–¸íŠ¸ì—ìš”. ì•ˆë…•í•˜ì„¸ìš”ðŸ¤—")
  //   }

  //   // ì„œë²„ë¡œ ë¶€í„° ë©”ì‹œì§€ë¥¼ ìˆ˜ì‹ í•œë‹¤
  //   ws.onmessage = () => {
  //     console.log("ì„œë²„ë‹˜ì´ ë§í•˜ì…¨ì–´ìš”ðŸ˜Ž ", event.data)
  //   }

  //   // ì—ëŸ¬ ë°œìƒ ì‹œ ë©”ì„¸ì§€ ë„ìš°ê¸°
  //   ws.onerror = (event) => {
  //     console.log("errorê°€ ë‚¬ì–´ìš”ðŸ˜¥")
  //   }
</script>

</html>